---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: "0.0.1"
  title: P-Seeder-Engine
  description: P-Project P-Seeder-Engine
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: P-Team
    email: contact@p-project.com
    url: http://p-project.io
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: p-monitor.io
basePath: /api
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json


################################################################################
#                                           Paths                              #
################################################################################
paths:
  /list/:
    get:
      summary: List
      description: |
        List all currently known infoHashes
      responses:
        200:
          description: An array of torrent_hash
          schema:
            type: array
            items:
              type: string
  /add/:
    post:
      summary: Add
      description: |
        Add a torrent to be downloaded by infohash
      parameters:
        - name: infoHash
          in: query
          description: Video torrentHash
          required: true
          type: string
          format: hash
      responses:
        200:
          description: Video hashInfo
          schema:
            type: string
            format: hash
        default:
          description: InfoHash parsing / Torrent already added
          schema:
            $ref: '#/definitions/Error'

  /add/{infoHash}:
    post:
      summary: Add
      description: |
        Add a torrent to be downloaded by infohash
      parameters:
        - name: infoHash
          in: path
          description: Video torrentHash
          required: true
          type: string
          format: hash
      responses:
        200:
          description: Video hashInfo
          schema:
            type: string
            format: hash
        default:
          description: InfoHash parsing / Torrent already added
          schema:
            $ref: '#/definitions/Error'

  /delete/{infoHash}:
    delete:
      summary: Delete
      description: |
        Delete a torrent by infohash
      parameters:
        - name: infoHash
          in: path
          description: Video torrentHash
          required: true
          type: string
          format: hash
      responses:
        200:
          description: Video hashInfo
          schema:
            type: string
            format: hash
        default:
          description: InfoHash parsing / Torrent not found
          schema:
            $ref: '#/definitions/Error'
  /seed/:
    post:
      summary: Seed
      description: |
        Seed a new file
      parameters:
        - name: name
          in: query
          description: Video title
          required: true
          type: string
        - name: desc
          in: query
          description: Video description
          required: true
          type: string
        - name: path
          in: query
          description: Video fullpath
          required: true
          type: string
          format: path
        - name: categories
          in: query
          description: Video categories
          required: true
          type: string
          format: /categories/[integer]
      responses:
        200:
          description: An array of torrent_hash
          schema:
            type: object
            properties:
              torrentHashInfo:
                type: string
                format: infoHash
        default:
          description: Video path incorrect / Torrent already added
          schema:
            $ref: '#/definitions/Error'

################################################################################
#                               Definitions                                    #
################################################################################
definitions:
  Error:
    type: object
    properties:
      id:
        type: integer
        format: int32
      msg:
        type: string
      status:
        type: string
